---
layout: default
---

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
<div class="post">
  <header class="post-header">
    <h1><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ post.content }}
  </article>

</div>
<br/>
{% endfor %}


<div id="paginator">
  {% if paginator.next_page %}
  <a href="{{site.baseurl}}/page{{paginator.next_page}}">
    &laquo; Older Posts</a>
  {% endif %}

  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
  <span class="more">
    <a href="{{site.baseurl}}/">
      Newer Posts &raquo; </a>
  </span>
  {% else %}
  <span class="more">
    <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
      Newer Posts &raquo; </a>
  </span>
  {% endif %}
  {% endif %}
</div>
